name: Pytest runner

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'bin/**'
      - 'dist/**'
      - "src/public/**"
      - "src/app/**"
      - "src/generators/**"
      - "src/server/**"

jobs:
  Test:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres

        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres

        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          cd src
          python -m pip install --upgrade pip
          pip install ruff pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      # - name: Lint with ruff
      #   run: |
      #     # stop the build if there are Python syntax errors or undefined names
      #     ruff --format=github --select=E9,F63,F7,F82 --target-version=py37 .
      #     # default set of ruff rules with GitHub Annotations
      #     ruff --format=github --target-version=py37 .
      - name: Test with pytest
        run: |
          pytest
        env:
          BOOYAH_ENV: "test"
          DB_HOST: "localhost"
          DB_PORT: "5432"
          DB_USERNAME: "postgres"
          DB_PASSWORD: "postgres"
          DB_DATABASE: "postgres"