[build-system]
requires = [ "flit_core >=3.2,<4",]
build-backend = "flit_core.buildapi"

[project]
name = "py_ait"
version = "0.0.20"
authors = []
classifiers = [ "License :: OSI Approved :: MIT License",]
dynamic = [ "description",]

[project.license]
file = "LICENSE"

[project.scripts]
ait-download = "py_ait.hf_download:run"
