[build-system]
requires = [
    "setuptools>=61"
]
build-backend = "setuptools.build_meta"

[project]
name = "multiform-validator"
version = "0.0.2"
authors = [
  { name="Gabriel Logan" },
]
description = "A small example package"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/gabriel-logan/multiform-validator/tree/main/pythonVersion"
"Bug Tracker" = "https://github.com/gabriel-logan/multiform-validator/tree/main/pythonVersion"
